* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.conteiner {
  display: flex;
  height: 150px;
  width: 100%;
  background-color: #1e1e1e;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}

li,
a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-left: 50px;
}

img {
  width: 100px;
  height: 100px;
  margin-right: auto;
  cursor: pointer;
}

main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 200vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #d47e6c, #de876b, #e69169, #ee9b68, #f4a666, #f8b065, #fcba65, #fec565, #ffd166, #ffde68, #fdeb6b, #f9f871);
  
}
.presentancion{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 400px;
  margin-left: 50px;
  color: white;
  margin-top: 30px;
  background-color: #1e1e1e;
}

.imagen{
  margin-top: 30px;
  width: 300px;
  height: 400px;
}

p{
  width: 50%;
  color: white;
}

.boton{
  width: 160px;
  height: 40px;
  background-color: rgb(212, 126, 108);
  color: white;
  border-radius: 10px;
  border-color: #1e1e1e ;
  cursor: pointer;
}


section{
  display: flex;
  flex-direction: flex-end;
  
}
.proyectos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  color: white;
}

.titulo-proyecto{
  margin-bottom: 20px;
}
.mis-proyectos{
  width: 1000px;
  height: 700px;
  background-color: #1e1e1e;
}